<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball Lineup Sim</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script defer type="text/javascript" src="static/js/script.js"></script>
</head>
<body>
    <!--Team Selection-->
    <div id="team1" class="dropdown-container team1">
        <h2>Team 1</h2>
        <div class="dropdown-trigger">Select Team1</div>
        <div class="dropdown-menu"></div>
    </div>

    <div id="team2" class="dropdown-container team2">
        <h2>Team 2</h2>
        <div class="dropdown-trigger">Select Team2</div>
        <div class="dropdown-menu"></div>
    </div>

    <div><br></div>

    <!--Player Selection-->
    <div class="lineup-container team1 team1-lu">
        <div id="lineupContainer" class="trigger lineup"></div>
        <div id="playerContainer" class="menu"></div>
        <p class="team1"></p>    
    </div>
    
    <br>

    <div class="lineup-container team2 team2-lu">
        <div id="lineupContainer" class="trigger lineup"></div>
        <div id="playerContainer" class="menu"></div>
        <p class="team2"></p>    
    </div>

    <br>

    <h2>Outcome</h2>
    <section class="data-container"> DATA GOES HERE </section>
</body>
</html>