*, *::before, *::after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


header {
    text-align: center;
}

body {
    background-image: url('/static/images/nba-logo-transparent-480x480.png');
    background-repeat: repeat;
    background: linear-gradient(45deg,rgba(29, 66, 138), rgba(200, 16, 46));
    justify-content: center;
}

main {
    justify-self: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1.5em;
    border-radius: 1em;
}

/* Dropdown menus */
#team-dropdowns {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.dropdown-container {
    width: 100%;
    position: relative;
}

.dropdown-container div {
    /* background-color: hsl(0, 0%, 80%); */
    align-items: center;
    border-radius: 5px;
}

.dropdown-menu {
    width: 100%;
    height: 20em;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 999;
}

/* Dropdown menu selections */
.selected {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 0.5em 0;
    height: 5em;
    color:#ddd;
}

.selected img {
    flex-grow: 1;
    height: 100%;
    max-width: 4em;
    border-radius: 5px;
    object-fit: contain;
}

.selected div {
    flex-grow: 3;
    width:200px;
    height: auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
}

.trigger {
    cursor: pointer;
}

/* Dropdown items */
.dropdown-item {
    max-height: 5em;
    padding: 8px 15px;
    border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
    cursor: pointer;
    display: flex;
}

.dropdown-item img{
    width: 4em;
    object-fit: contain;
}

.dropdown-item div{
    margin-left: auto;
}
  
.dropdown-item:hover {
    background-color: #ddd;
    color: hsl(0, 0%, 0%)
}

.dropdown-item:active {
    background-color: #ccc;
}

/* Lineup menus */
#team-lineups {
    display: flex;
    flex-direction: column;
    /* justify-self: center; */
    width: 100%;
    margin: 10px 0;
    gap: 10px;
}

.lineup-container {
    position: relative;
    /* background-color: hsl(0, 0%, 50%); */
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lineup {
    width: 100%;
    height: 300px;
}

.lineup, .roster {
   width: 100%;
   height: 300px;
   background-color: hsl(0, 0%, 10%, 0.5); 
   border-radius: 5px;
   align-items: center;
   overflow-y: hidden; /* Hide vertical scrollbar */
   overflow-x: auto; /* Enable horizontal scrolling */
   white-space: nowrap;
   text-align: center;
}

/* Menu controls */
.lineup-container .roster, .dropdown-menu {
    display: none;
}

.lineup-container .roster.show, .dropdown-menu.show {
    display: block;
}

/* Scoreboard */
#scoreboard {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#scoreboard-container{
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#score-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    gap: 5%;
}

.team-score {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2%
}

.team-score img {
    height: 100px;
    width: 100px;
}

.reverse-display {
    flex-direction: row-reverse;
}

.team-name, .team-points {  
    font-size: 150%;
    font-weight: bold;
    width: 100px;
}

/* Stats */
#team-stats {
    margin-top: 1em;
    width: 100%;
    height: 500px;
    justify-self: center;
    /* background-color: hsl(0, 0%, 80%); */
    border-radius: 5px;
}

/* Player Card */
.player-card {
    display: inline-block; /*check this here*/
    width: 150px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: hsl(0, 0%, 100%);
    font-family: sans-serif;
    margin: 5px;
    cursor: pointer;
}

.player-card-content {
    padding: 16px;
    justify-items: center;
    text-align: center;
}
  
.player-card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    display: block;
    object-fit: cover
}
  
.player-card-name {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
  
.player-card-details {
    font-size: 0.9em;
    color: #555;
}

.player-card-rank {
    display:none;
}

#nba-team-stat {
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

footer {
    margin: 1em;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 3em;
    text-shadow: 3px 3px 10px black;
}

.team1-color {
    background-color: rgba(200, 16, 46);
}

.team2-color {
    background-color: rgba(29, 66, 138);
}
