header {
    text-align: center;
}

/* Dropdown menus */
#team-dropdowns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dropdown-container div {
    background-color: hsl(0, 0%, 80%);
    align-items: center;
    border-radius: 5px;
}

.dropdown-menu {
    width: 100%;
    height: 200px;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: hsl(0, 0%, 20%);
}

/* Dropdown menu Selected & Options */
.selected {
    display: flex;
}

.selected img {
    height: 75px;
    width: 75px;
    border-radius: 5px;
}

.selected div {
    width:200px;
    height: auto;
    text-align: center;
}

.trigger {
    cursor: pointer;
}

/* Lineup menus */
#team-lineups {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    margin: 10px;
    gap: 10px;
}

.lineup-container {
    background-color: hsl(0, 0%, 50%);
    padding: 10px;
    border-radius: 5px;
}

.lineup, .roster {
   width: 100%;
   height: 200px;
   background-color: hsl(0, 0%, 80%); 
   border-radius: 5px;
   overflow-y: hidden; /* Hide vertical scrollbar */
   overflow-x: auto; /* Enable horizontal scrolling */
   white-space: nowrap;
   text-align: center;
}

/* Menu controls */
.lineup-container .roster, .dropdown-menu {
    display: none;
}

.lineup-container .roster.show, .dropdown-menu.show {
    display: block;
}

/* Scoreboard */
#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
}

#score-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    gap: 5%;
}

.team-score {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2%
}

.team-score img {
    height: 100px;
    width: 100px;
}

.reverse-display {
    flex-direction: row-reverse;
}

.team-name, .team-points {  
    font-size: 150%;
    font-weight: bold;
}

/* Stats */
#team-stats {
    width: 100%;
    height: 500px;
    justify-self: center;
    background-color: hsl(0, 0%, 80%);
}

/* Player Card */
.card {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 21, 0);
}
